[Unit]
Description=dnsmasq-logger service

[Service]
Type=oneshot  # Set service type to oneshot
ExecStart=/usr/bin/python3 /path/to/the/script/main.py # Path to Python and the script
WorkingDirectory= /path/to/the/script

User=root  # Use root to run the service with elevated privileges

[Install]
WantedBy=multi-user.target
